openai
langchain
langchainhub
langchain_openai
langchain_experimental
langchain-google-genai
pinecone-client
python-dotenv
tiktoken
docx2txt
requests
pypdf
numpy
pandas
pillow
ipywidgets
google-auth
google-cloud-aiplatform
